body {
    background-color: rgb(250, 250, 250);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    margin: 15px;
    max-width: 600px;
}

.box1 {
    padding: 20px;
    background-color: black;
    border-radius: 50px;
}

.inputs {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 70%;
}

.singingbtn {
    justify-content: center;
    width: 200px;
}